.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 10;
    color: #ffd700;
    font-family: 'Arial', sans-serif;
    background-color: rgba(18, 18, 18, 0.8);
  
    .main-title {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
  
    .sub-title {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  
    .buttons {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 2rem;
  
      button {
        padding: 0.8rem 2rem;
        font-size: 1.5rem; /* Updated font size */
        border: 2px solid #ffd700;
        background: transparent;
        color: #ffd700;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
  
        &:hover {
          background: #ffd700;
          color: #0a0a0a;
        }
      }
    }
  
    .social-links {
      display: flex;
      gap: 1.5rem;
  
      a {
        color: #ffd700;
        font-size: 2rem;
        transition: transform 0.3s ease, color 0.3s ease;
  
        &:hover {
          transform: scale(1.2);
          color: #ffffff;
        }
  
        i {
          pointer-events: none;
        }
      }
    }
  }
  