.network-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keep background below content */
  }
  
  .App {
    position: relative;
    z-index: 1; /* Ensure content appears above the animation */
  }
  canvas {
    position: fixed; /* Ensure the canvas is fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10; /* Ensure it stays behind other content */
}